body {
    background-image:linear-gradient(rgba(2, 2, 2, 0.5),rgba(2, 2, 2,0.5)), url(../aa.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
  
.btn {
    background: #1c456160;
    padding: 5px 20px;
    padding: 5px 20px;
    position: absolute;
    margin: 25px;
    list-style-type: none;
    text-decoration: none;
    font-family: "Georgia";
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.2s;
    border-radius: 5px;
    
}
  
.btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(134, 184, 212);
}
  
.img {
    height: 220px;
    width: 220px;
    
}
  
.text1 {
    font-family: "Georgia";
    color: rgb(207, 205, 218);
    font-size: 3.5em;
    text-align: center;
    padding-top: 0.1em;
    padding-right: 30px;
}
  
.text2 {
    font-family: "Georgia";
    width: 932px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: 1.5em;
    background: #406c8160;
    
}
  
.text3 {
    font-family: "Georgia";
    width: 932px;
    padding-left: 5px;
    padding-right: 5px;
    color: whitesmoke;
    font-size: 1.5em;
    background: #406c8160;
    
}
  
.text4 {
    font-family: "Georgia";
    width: 932px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(19, 17, 17);
    font-size: 35px;
    background: #e8ecee60;
   
}
  
.text5 {
    font-family: "Georgia";
    width: 932px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(19, 17, 17);
    font-size: 35px;
    background: #e8ecee60;
  
}
  